
.top-page-header {
  display: flex;
  background-color: #000000e7;
  color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  
}
.left-character {
  padding-left: 30px;
}
.servise-name {
  color: #ffffff;
}
.right-list {
  display: flex;
  list-style: none;
  align-items: flex-end;
  font-size: 18px;
  margin-right: 3vw;
}
.channel-name {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #ffffff;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #ffffff;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}