<% posts.each do |post| %>
  <li class='list'>
    <div class="video-url">
      <iframe width="800" height="200" src="https://www.youtube.com/embed/<%= post.video_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="channel-name">
      <p><%= link_to "投稿者の詳細はこちら", user_path(post.user_id) , class: 'detail-link' %></p>
      <p><%= link_to "動画の詳細はこちら", post_path(post.id) , class: 'detail-link' %></p>
    </div>
  </li>
<% end %>