<%= render "shared/header" %>
<div class="index-page">
  <div class="image-line">
    <%= link_to image_tag("toppage_image.jpg", class:"top-image"), "/" %>
    <p>Let's Shuffle</p>
  </div>

  <ul class='video-lists'>
    <% if @posts.present? %>
    <%# 動画がいっぽんでもあるとき %>
      <% @posts.each do |post| %>
        <li class='list'>
          <div class="video-url">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= post.video_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </li>
      <% end %>
    <% else %>
    <%# 動画がいっぽんもないとき %>
      <li class='list'>
      </li>
    <% end %>
  </ul>

  <%= link_to '投稿', new_post_path %>
</div>


