.user-detail-page {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/user_detail_background.jpg");
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  background-size: 100%;
  text-align: center;
}
.user-top-character h1 {
  padding-top: 20px;
  margin-bottom: 50px;
  border-bottom: solid;
  border-color: rgba(255,0,0,0.4);
  display: inline-block;
}
.user-detail-table {
  margin-bottom: 30px;
  width: 100%;
}
.user-detail {
  width: 20%;
  background-color: #eee;
  border: 2px solid #dededf;
  font-size: 18px;
  text-align: center;
}
.user-info {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
}

.new-video h1 {
  border-bottom: solid;
  border-color: rgba(255,0,0,0.4);
  display: inline-block;
}

.video {
  text-align: center;
  background-color: rgba(255,255,255,0);
}
.video-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.page-move {
  display: flex;
  justify-content: space-between;
}
.top-btn {
  background: #f5f5f5;
  border-radius: 4%;
  padding: 16px 24px;
  box-shadow: 0px 2px 4px #0000003a;
  padding: 15px;
  margin-left: 15px;
}
.top-btn:hover {
  background-color: #dedede;
  box-shadow: 0px 4px 8px #fff;
}
.common-btn-text {
  color: #000000;
  font-size: 15px;
  font-weight :bold;
  text-decoration: none;
  margin-bottom: 5px;
}