.user-detail-page {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/user_detail_background.jpg");
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  background-size: 100%;
  text-align: center;
  padding: 3vh 3vw;
}
.user-top-character h1 {
  padding-top: 2vh;
  margin-bottom: 2.5vh;
  border-bottom: solid;
  border-color: rgba(240,128,128, 0.7);
  display: inline-block;
}
.edit-user {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #dededf;
}
.edit-user:hover {
  color:rgba(240,128,128, 0.7);;
}
.user-detail-table {
  margin-bottom: 3.5vh;
  margin-top: 3vh;
  width: 100%;
  padding-left: 9vw;
  padding-right: 9vw;
}
.user-detail {
  width: 35%;
  background-color: rgba(240,128,128, 0.3);
  border: 2px solid #dedede;
  font-size: 18px;
  text-align: center;
}
.user-info {
  width: 100%;
  padding: 20px;
  border: 2px solid #dedede;
  font-size: 18px;
  text-align: left;
  word-break: break-word;
}
.new-video h1 {
  border-bottom: solid;
  border-color: rgba(240,128,128, 0.7);
  display: inline-block;
}
.video-u-p{
  position:relative;
  width:100%;
  height:0;
  padding-top:75%;
}
.video-u-p iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.video-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 3.5vh;
}
.video-list {
  width: 33%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-bottom: 1.5vh;
}
.video-list p {
  text-align: left;
}
.video-list:hover {
  background-color:#dedede;
}
.video-title {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  word-wrap: break-word;
}
.video-title:hover {
  color:rgba(240,128,128, 0.7);;
}
.video-edit {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.video-edit:hover {
  color:rgba(240,128,128, 0.7);;
}
.video-destroy {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.video-destroy:hover {
  color:rgba(240,128,128, 0.7);;
}
.page-move {
  display: flex;
  justify-content: space-between;
}
.top-btn {
  background: #f5f5f5;
  border-radius: 4%;
  padding: 16px 24px;
  box-shadow: 0px 2px 4px #0000003a;
  padding: 15px;
  margin-left: 15px;
}
.top-btn:hover {
  background-color: #dedede;
  box-shadow: 0px 4px 8px #fff;
}
.common-btn-text {
  color: #000000;
  font-size: 15px;
  font-weight :bold;
  text-decoration: none;
  margin-bottom: 5px;
}

.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
  background-color: #dedede;
  text-decoration: none;
}

.pagination * {
  color: white;
  margin: 0 7px;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
}

.current {
  font-style: normal;
  color: white;
  background: rgba(240,128,128, 0.7);
  border-radius: 22.5px;
  font-family: 'Nunito', sans-serif;
}

.pagination a:hover {
  background: rgba(240,128,128, 0.7);
}

.pagination .disabled {
  color: #666666;
  padding: 11px 17px;
  border: 1px solid #666666;
  border-radius: 23px;
  font-family: 'Nunito', sans-serif;
}