* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;  
}
.index-page {
  background-color: #000000;
}
.top-image {
  width: 100vw;
  height: 88vh;
}
.image-line {
  position: relative;
}
.image-line p {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  font-size: 3em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  background:rgba(0, 0, 0, 0);
  }
.selling-complaint {
  color: #ffffff;
  text-align: center;
  background-color: #ff0000;
}
.video-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.list {
  border-width: 3px 0 0 0;
  border-style: double;
  border-color: #ff0000;
  margin-top: 20px;
  font-size: 20px;
}
.list:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.post-btn {
  width: 120px;
  background: #ff0000;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}
.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}
.post-btn-icon {
  width: 100%;
}
.channel-detail {
  color:white;
  text-decoration: none;
}
.video-detail {
  color:white;
  text-decoration: none;
}
.channel-detail:hover {
  color: aqua;
}
.video-detail:hover {
  color: aqua;
}

.shuffle-btn {
  width: 150px;
  background: #ff0000;
  text-align: center;
  border-radius: 4%;
  bottom: 270px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: fixed;
  padding: 16px 24px;
  box-shadow: 0px 2px 4px #0000003a;
  transition: box-shadow .3s;
}
.shuffle-btn:hover{
  box-shadow: 0px 4px 8px #fff;
}
.shuffle-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight :bold;
  text-decoration: none;
  margin-bottom: 5px;
}