.video-watch {
  background-color: hsl(0, 0%, 0%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.detail-table {
  margin-bottom: 3vh;
  width: 100%;
  padding-left: 9vw;
  padding-right: 9vw;
}
.detail-post {
  width: 25%;
  background-color: rgba(	240,128,128, 0.3);
  border: 2px solid #dedede;
  font-size: 18px;
  text-align: center;
}
.detail-info {
  width: 100%;
  padding: 20px;
  border: 2px solid #dedede;
  font-size: 18px;
  text-align: left;
  word-break: break-word;
}

.container {
  margin-bottom: 30px;
}
.messages-top {
  text-align: center;
}
.messages-top h1 {
  padding-top: 2vh;
  margin-bottom: 2.5vh;
  border-bottom: solid;
  border-color: rgba(240,128,128, 0.7);
  display: inline-block;
}
.messages p {
  font-size: 25px;
  border-bottom: dotted;
  border-color: #dedede;
  padding-left: 30px;
}
.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-area {
  width: 50%;
  height: 100px;
  font-size: 18px;
}
.precautionary-statement {
  font-size: 18px;
  font-weight: bold;
}
.submit-btn {
  width: 20%;
  height: 50px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px #0000003a;
}
.submit-btn:hover {
  box-shadow: 0px 4px 8px #fff;
}
.page-move {
  display: flex;
  justify-content: space-between;
}
.top-btn {
  background: #f5f5f5;
  border-radius: 4%;
  padding: 16px 24px;
  box-shadow: 0px 2px 4px #0000003a;
  padding: 15px;
  margin-left: 3vh;
}
.top-btn:hover {
  background-color: #dedede;
  box-shadow: 0px 4px 8px #fff;
}
.user-btn {
  background: #f5f5f5;
  border-radius: 4%;
  padding: 16px 24px;
  box-shadow: 0px 2px 4px #0000003a;
  padding: 15px;
  margin-right: 3vh;
}
.user-btn:hover {
  background-color: #dedede;
  box-shadow: 0px 4px 8px #fff;
}
.common-btn-text {
  color: #000000;
  font-size: 15px;
  font-weight :bold;
  text-decoration: none;
  margin-bottom: 5px;
}